In [1]:
import numpy as np
import pandas as pd
import json
import requests #allows us to send HTTP requests

user-agent string: some text that describes the system we are using to access a webpage; generally good etiquette to supply user agent string as a header in a http call.

In [2]:
url = 'https://httpbin.org/user-agent'
r = requests.get(url)
r

The four key methods in the JSON package:
1. loads - convert a string in the Python kernel to dictionaries/lists
2. load - load a text file and store it as dictionaries/lists
3. dumps - convert a dictionaries/list in the Python kernel to a string
4. dump - save a dictionaries/lists in the Python kernel to a text file

In [9]:
my_json = json.loads(r.text)
useragent = my_json['user-agent']

In [10]:
#headers are data we give to a webpage before it gives us data back
#this is how we can tell the webpage what we want
headers = {'User-Agent': useragent,
           'From': 'ljn5yms@virginia.edu'}

In [11]:
headers

{'User-Agent': 'python-requests/2.31.0', 'From': 'ljn5yms@virginia.edu'}

## CocktailDB

In [12]:
url = 'https://www.thecocktaildb.com/api/json/v1/1/filter.php?c=Cocktail'
r = requests.get(url, headers=headers)
r

In [15]:
myjson = json.loads(r.text)
pd.json_normalize(myjson, record_path = ['drinks'])

,strDrink,strDrinkThumb,idDrink
0,155 Belmont,https://www.thecocktaildb.com/images/media/dri...,15346
1,57 Chevy with a White License Plate,https://www.thecocktaildb.com/images/media/dri...,14029
2,747 Drink,https://www.thecocktaildb.com/images/media/dri...,178318
3,9 1/2 Weeks,https://www.thecocktaildb.com/images/media/dri...,16108
4,A Gilligan's Island,https://www.thecocktaildb.com/images/media/dri...,16943
...,...,...,...
95,Miami Vice,https://www.thecocktaildb.com/images/media/dri...,13936
96,Michelada,https://www.thecocktaildb.com/images/media/dri...,178343
97,Midnight Mint,https://www.thecocktaildb.com/images/media/dri...,14842
98,Mojito,https://www.thecocktaildb.com/images/media/dri...,11000
99,Mojito Extra,https://www.thecocktaildb.com/images/media/dri...,15841

## Wikipedia

In [18]:
url = 'https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Virginia&format=json&srlimit=500'
# after the question mark is the parameters we are passing to the webpage, before is the webpage we are querying
r = requests.get(url, headers=headers)
myjson = json.loads(r.text)
virginia_wiki_df = pd.json_normalize(myjson, record_path = ['query', 'search'])

## News API

In [30]:
#DONOTSHARE instead use .env file to store API and bring into Python without display -> see module 4
apikey = '0324c00934da4cfc9a851d49851d0840'
params = {'q': 'florida man','apiKey': apikey}

# or

#headers = {'User-Agent': useragent,
#           'From': 'ljn5yms@virginia.edu',
#           'X-Api-Key': apikey}

url = 'https://newsapi.org/v2/everything'
r = requests.get(url, headers=headers, params=params)
myjson = json.loads(r.text)
myjson
florida_man_df = pd.json_normalize(myjson, record_path = ['articles'])
florida_man_df['title', ]

0     Florida Man Thinks He’s Smarter Than Highway P...
1     Florida Man Builds 10-Foot-Wide Tiny Home To S...
2     Florida man pleads not guilty to kidnapping hi...
3     The Florida deputy who shot U.S. airman Roger ...
4     Man who fled California due to the ‘cost of li...
                            ...
95    FLORIDA, MAN: Florida ranked top of list for s...
96    College Baseball Super Regionals 2024: Results...
97    Honor Thy Father: The Saga Of A Drug Smuggler’...
98    Nation Gripped by Mystery of Missing Florida W...
99    Wie dieser Satellit die Wettervorhersagen deut...
Name: title, Length: 100, dtype: object